*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}

#display{
    background-color: hsl(0, 0%, 20%);
    padding:20px 25px;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 2.2rem;
    text-align: right;
    border: none;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 80px;
}

#expression{
    color: hsl(0, 0%, 70%);
    font-size: 1.2rem;
    min-height: 1.5rem;
    margin-bottom: 5px;
}


#result{
    color: white;
    line-height: 1;
    overflow: hidden;
    font-size: 2.2rem;
    font-weight: bold;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
    padding: 15px;

}


button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 66%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 77%);
}